body{
    background: #B3B3B3;
    font-size: 125%;
    margin: 2%;
}

header, footer{
    background: #666666;
    background: -moz-linear-gradient(top, #666666, #00B7EA 100%);
    background: -webkit-linear-gradient(#666666 0%, #00B7EA 100%) ;
    background: -o-linear-gradient(#666666 0%, #00B7EA 100%);
    background: linear-gradient(#666666 0%, #00B7EA 100%);
}

header{
    text-align: center;
    padding: 15px;
}

h1{
    color: #FFFFFF;
}

nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: Arial, "Times New Roman", serif;
}

.half{
    width: 45%;
    margin-right: 2%;
    display: inline-block;
    float: left;
}

.whole{
    clear: both;
}

nav a{
    width: 22%;
    display: inline-block;
    background: #FFFFFF;
}

h2{
    color: #666666;
    background: #00B7EA;
}

section{
    width: 30%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}

footer{
    height: 100px;
    clear: both;
}

img{
    width: 125px;
}
